<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheGoods.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
</head>

<body>
      <header>
        <nav class="navbar p-2" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="is-size-3 has-text-weight-bold"><a class="has-text-dark" href="/">TheGoods.</a></div>
            </div>
            <!-- Only display if the user is logged in -->
            {{#if logged_in}}
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start pl-2">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Categories
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/categories">
                                Add a Category
                            </a>
                            <a class="navbar-item" href="/remove">
                                Delete a Catagory
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                    
                    <a class="navbar-item has-icons-right" href="/news/discover">Search&nbsp;   
                        <span class="icon is-right">
                            <i class="fas fa-search"></i>
                          </span>
                    </a>
                    
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary is-outlined" type="submit" id="logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
      {{/if}}
    </header>

  <main class="p-2">
    {{{ body }}}
  </main>
  
  <footer id="footer">
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>