<div class="columns is-mobile mt-6">
  <div class="column is-half is-offset-one-quarter">
    <form class="box p-4">
      <div class="field">
        <label class="label">Add A New Category</label>
          <div class="control">
            <input class="input" type="text" id="category" name="category" placeholder="e.g. Gaming, Tech or Sports"><br>
          </div>
      </div>

      <button class="button is-primary" type="submit">Add Category</button>
    </div>
</div>
  <script src="/js/category.js"></script>
</form>


<!--href="/notes"