<div>
  <header class="">
    <h1>
      Browse News Articles from all Around the Web!
    </h1>
    <form action="" class="search-bar">
	    <input type="search" id="news-search" name="search" pattern=".*\S.*" required>
	    <button class="search-btn" id="news-search-btn" type="submit">
		  <span>Search</span>
	    </button>
    </form>
  </header>
  
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" id="news-grid">

        </div>
      </div>
    </div>
  </div>
</div>

<script src="../public/js/discover.js"></script>
