<div>
  <header class="">
    <h1>
      Browse News Articles from all Around the Web!
    </h1>
    <form action="" class="search-bar">
	    <input type="search" id="news-search" name="title" pattern=".*\S.*" required>
	    <button class="search-btn" id="news-search-btn" type="submit">
		  <span>Search</span>
	    </button>
    </form>
  </header>
  
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="card-deck" id="news-grid">
          {{#each articles as |article|}}
          <div class="card p-3 mb-5 rounded" style="width: 18rem;">
            <img class="card-img-top" src="{{article.urlToImage}}">
            <div class="card-body">
              <h5 class="card-title"><a href="{{article.url}}" target="_blank">{{article.title}}</a></h5>
              <p class="card-text">{{article.description}}</p>
              <button class="" type="button" src="./assets/images/icons8-save-24.png"></button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<script href="./js/discover.js"></script>
