<div class="columns is-mobile">
  <div class="column is-4 is-offset-4 mt-6">
    <h2 class="page-title is-size-3 has-text-centered pb-2">Login</h2>
      <form class="box login-form">
        <div class="field">
          <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" id="email-login" placeholder="e.g. name@example.com">
            </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" id="password-login" placeholder="********">
          </div>
        </div>

        <button class="button is-primary" type="submit">Sign in</button>
          <div class="pt-2"> Not a Member? Create a login here: <a href="/register">Register</a></div>
      </form>
  </div>
</div>

<script src="./js/login.js"></script>